# vscode
.vscode/
*.code-workspace

# Java
.settings/
.classpath
.factorypath
.project

# Python
__pycache__/
.ipynb_checkpoints

# Intellij
.idea
asd.iml

# Report
*.aux
*.bbl
*.blg
main.fdb_latexmk
main.files
*.files
*.cut
*.out
*.fls
*.synctex.gz

# Compiled class file
/target/
*.class

# Log file
*.log
/analysis/metrics/
/metrics
text

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/analysis/metrics_all.json
/analysis/plots/
/analysis/text/
/analysis/metrics_structured/
/analysis/metrics_unstructured/
/analysis/metrics_kadpubsub/
